body {
  font-family: 'Dancing Script', cursive;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card-slider {
  background: #5795cd;
  width: 800px;
  height: 450px;
}

.card {
  background: #5795cd;
  width: 800px;
  height: 450px;
}
.card img {
  width: 800px;
  height: 450px;
}