.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-slider {
  background: #5795cd;
  width: 600px;
  height: 325px;
}

.card {
  background: #5795cd;
  width: 600px;
  height: 325px;
}
.card img {
  width: 600px;
  height: 325px;
}